body{
    background-color: azure;
    text-align: center;
}

h1{
width: 500px;
margin-left:auto;
margin-right: auto;
color:aliceblue;
background-color: tomato;
text-align: center;
font-style:italic
}

